{% extends 'main.html' %}
{% block content %}

{% if documents %}
<div class="container">
    <form class="d-flex" action="{% url 'home' %}">
        <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">File cover</th>
                <th scope="col">File Name</th>
                <th scope="col">File Text</th>
                <th scope="col">File Url</th>
            </tr>
        </thead>
        <tbody>
            {% for document in documents %}
            <tr>
                <td>
                    {% if document.cover %}
                    <img src="{{document.cover.url}}" alt="some-img" width="100px">
                    {% else %}
                    <img src="" alt="img-not-found">
                    {% endif %}
                </td>
                <td><a href="{{ document.id }}">{{ document.fileName|slice:"37:" }}</a></td>
                <td>
                    <div>
                        {{ document.text }}
                    </div>
                </td>
                <td>
                    <a href="{{ document.pdf.url }}">Download</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container">
    <h1>No documents found. Upload a few</h1>
</div>
{% endif %}

{% endblock %}