{% extends 'main.html' %}
{% block content %}

{% if login %}
<h2>Login here</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" class="form-control">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% else %}
<h2>Register here</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        {{ form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
{% endif %}
{% endblock %}