{% extends 'main.html' %}
{% block content %}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">File cover</th>
                <th scope="col">File</th>
                <th scope="col">File Text</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% if document.cover %}
                    <img src="{{document.cover.url}}" alt="some-img" width="100px">
                    {% else %}
                    <img src="" alt="img-not-found">
                    {% endif %}
                </td>
                <td>
                    <a href="{{ document.pdf.url }}">{{ document.fileName|slice:"37:" }}</a>
                </td>
                <td width="100px">
                    <pre>
                        {{ document.text }}
                    </pre>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}