{% extends 'main.html' %}
{% block content %}
<table class="table">
    <thead>
        <tr>
            <th scope="col">File cover</th>
            <th scope="col">File Name</th>
            <th scope="col">File Text</th>
            <th scope="col">File Url</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                {% if document.cover %}
                <img src="{{document.cover.url}}" alt="some-img" width="100px">
                {% else %}
                <img src="" alt="img-not-found">
                {% endif %}
            </td>
            <td>{{ document.fileName|slice:"37:" }}</td>
            <td>
                <pre>
                    {{ document.text }}
                </pre>
            </td>
            <td>
                <a href="{{ document.pdf.url }}">Download</a>
            </td>
        </tr>
    </tbody>
</table>
{% endblock %}